.nav-container {
    z-index: -1;
}

.landing_page {
    height: 100vh;
}

.bg-container {
    background-image: url('images/background_three.jpg');
    background-size: cover;
    background-position: center;
}