.nav-container {
    position: relative;
    z-index: 10;
    width: 100%;
}

.logo {
    height: 70px
}

h1 {
   font-family: "Source Serif 4", serif;
   font-weight: 400;
   font-size: 60px;
   text-align: left;
   margin-left: 0;
   width: 100%;
   padding-right: 3rem;
}

p {
    color: #FFFFFF;
    text-align: justify;
    max-width: 800px;
    font-family: "Roboto", sans-serif;
    transition: letter-spacing 8s ease-in-out;
    letter-spacing: normal;
}